@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700&display=swap');
@import './search-bar.scss';
@import './_variables.scss';
@import './_animations.scss';
@import './header.scss';
@import './videos.scss';
@import './shared.scss';
@import './video-list.scss';
@import './video-item.scss';
@import './video-player.scss';

body {
  background: black;
  font-family: 'Overpass Mono', monospace;
  p {
    margin-bottom: 0;
  }
}

ul {
  margin-bottom: 0;
}
h1 {
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

h4 {
  color: white;
}

// tablet
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

//desktop
@media screen and (min-width: 960px) {
  h1 {
    font-size: 5rem;
  }
}
