.fav-videos {
  animation: fade-to-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s
    alternate both;
  .h2 {
    color: lightgray;
    font-size: 1.25em;
  }
}

@media screen and (min-width: 768px) {
  .fav-videos {
    .h2 {
      font-size: 2em;
    }
  }
}
