.header {
  align-items: flex-end;
  justify-content: space-between;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: gray;
    }

    h1 {
      display: inline;
      background: linear-gradient(
        to left,
        rgb(112, 101, 214),
        rgb(230, 106, 213)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: none;
    justify-content: center;
    .links {
      margin-top: 2em;
      ul {
        padding: 0;
      }
    }
  }
}
