#search-bar {
  animation: fade-to-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s
    alternate both;
  form {
    border: 2px solid white;
    padding: 8px;
    .search-input {
      background: transparent;
      font-size: 1rem;
      border: none;
      outline: none;
      color: lightgray;
      width: 85%;
    }
    .fa-search {
      color: lightgray;
    }
  }
}

@media screen and (min-width: 768px) {
  #search-bar {
    form {
      border: 4px solid white;
      .search-input {
        font-size: 2rem;
        width: 92%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search-bar {
    margin-bottom: 2rem;
  }
}
