.modal-backdrop.show {
  opacity: 1;
}

.modal-title.h4 {
  font-size: 0.5em;
  color: $white;
}

.modal-header {
  background: black;
  button.close {
    color: $white;
  }
}

@media screen and (min-width: 768px) {
  .modal-title.h4 {
    font-size: 1em;
  }
}
